.dataTables_filter {
    float: left !important;
}

.tombol-tambah {
    margin-bottom:10px;
}

.pt-70 {
    padding-top:70px;
}

.pt-25 {
    padding-top:25px;
}

.mb-10 {
    margin-bottom:10px;
}

.button-wrapper {
    margin:auto;
    display:block;
    margin:2em 0;
}

.btn-custom {
    display: block;
    margin:auto;
}

.btn-custom-success {
    width: 50%;
    text-align: center;
    background-color: #44AF9F;
    font-family: 'STIX Two Text', serif !important;
}

.btn-custom-close {
    width: 50%;
    text-align: center;
    border: 1px solid #DADFE2;
    font-family: 'STIX Two Text', serif !important;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


@media screen and (min-width: 760px) {
    .nav-link-custom {
        width: 12rem !important;
    }
}